.Modal {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: rgb(230, 204, 164);
}

.Overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(225, 235, 241);
  z-index: 1500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Img {
  display: block;
  width: 100%;
  height: 100%;
}
